<h1>Crear Nuevo Semestre</h1>

<p class="text-danger">@ViewBag.Error</p>

<form action="/SemestresControladora/Crear" method="post">
    <div class="form-control">
        <label for="Nombre">Nombre</label>
        <input type="text" name="nombre" value="@ViewBag.Nombre" />
    </div>
    <div class="form-control">
        <label for="OrdenNumero">OrdenNumero</label>
        <input type="number" name="ordenNumero" value="@ViewBag.OrdenNumero" />
    </div>
    <div class="form-control">
        <label for="CarreraId">Carrera</label>
        <select name="carreraId">
            @foreach (var carrera in ViewBag.Carreras)
            {
                <option value="@carrera.Id">@carrera.Nombre</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="/SemestresControladora/Index" class="btn btn-secondary">Cancelar</a>
</form>
